---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="About" description="Home page">
    <section class="w-full h-screen bg-slate-100 flex flex-col items-center" transition:animate="slide">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, provident sequi delectus alias magni totam ipsa autem cupiditate iusto aspernatur optio unde quaerat rerum dolorem blanditiis perferendis itaque ut maxime?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, provident sequi delectus alias magni totam ipsa autem cupiditate iusto aspernatur optio unde quaerat rerum dolorem blanditiis perferendis itaque ut maxime?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, provident sequi delectus alias magni totam ipsa autem cupiditate iusto aspernatur optio unde quaerat rerum dolorem blanditiis perferendis itaque ut maxime?</p>
    </section>
</MainLayout>