---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="About" description="Home page">
    <section class="w-full h-screen bg-slate-100 flex flex-col items-center relative gap-8" >
         <picture class="w-full flex items-center justify-center" transition:name="user-logo">
                <img src={"https://github.com/RelancioBorgesDev.png"} class="w-80 h-80 rounded-full" alt={"My Picture"}/>
            </picture>
            <div class="w-[900px] max-lg:w-full max-lg:px-8 flex flex-col items-center  gap-8">
                <article class="flex flex-col gap-2">
                    <h1 class="text-4xl font-bold">Quem sou eu</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, provident sequi delectus alias magni totam ipsa autem cupiditate iusto aspernatur optio unde quaerat rerum dolorem blanditiis perferendis itaque ut maxime?</p>
                </article>
                <article class="flex flex-col gap-2">
                    <h1 class="text-4xl font-bold">O que eu faço</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, provident sequi delectus alias magni totam ipsa autem cupiditate iusto aspernatur optio unde quaerat rerum dolorem blanditiis perferendis itaque ut maxime?</p>
                </article>
                <article class="flex flex-col gap-2">
                    <h1 class="text-4xl font-bold">Sobre o blog</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, provident sequi delectus alias magni totam ipsa autem cupiditate iusto aspernatur optio unde quaerat rerum dolorem blanditiis perferendis itaque ut maxime?</p>
                </article>
            </div>

            <button class="rounded bg-black text-white font-bold px-2   flex items-center justify-center w-fit group py-3 absolute right-4 bottom-4 max-md:relative">Entre em contato</button>
    </section>
</MainLayout>