---

---

<footer class="border-2 p-4 flex items-center justify-center w-full gap-4 bg-white">
    Copyright &copy; <span id="copyright" class="font-bold underline"></span> All rights reserved
</footer>

<script>
    document.querySelector("#copyright")!.textContent = new Date().getFullYear().toString()
</script>