---
import type {CollectionEntry} from "astro:content"
import BlogPost from "./BlogPost.astro"

type Props = {
    blogPosts: CollectionEntry<'blog'>[]
}

const {blogPosts} = Astro.props

---

<div class="w-[900px] max-[975px]:w-full grid grid-cols-2 gap-4  max-md:grid-cols-1 py-2">
    {blogPosts.map((blogPost) => (
        <BlogPost blogPost={blogPost}/>
    ))}
</div>